.main {
    width: 90%;
    margin: 0 auto;
}
.input-label{
    display: inline-block;
    font-size: 14pt;
    margin: 20px;
    color: black;
}
.centered{
    display: block;
    margin: 0 auto;
}

.centered-text{
    text-align: center;
}

.sizetoeditor{
    width: 120px;
}

.editor{
    width: 80%;
    margin: 0 auto;
}