.main {
    width: 90%;
    margin: 0 auto;
}

.createBand-main {
    width: 50%;
    margin: 0 auto;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.redButtonColor{
    color: white;
    background: red;
    text-shadow: none;
    border: none;
    box-shadow: 0 0 8px #cb9c98;
}


.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.greenButtonColor{
    color: white;
    background: green;
    text-shadow: none;
    border: none;
    box-shadow: 0 0 8px #94cb96;
}

.centeredColumn {
    text-align:center !important;
}

.datalist-noborder .ui-widget-content {
    border: none;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.output-text {
    display: inline-block;
    font-size: 13pt;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.output-text-confirmation {
    display: block;
    font-size: 13pt;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    word-wrap: break-word;
}

.output-text-list-name{
    display: inline-block;
    font-size: 11pt;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.output-text-list{
    display: inline-block;
    font-size: 11pt;
    margin-top: 5px;
    padding-left: 30px;
    paddig-right: 30px;
    margin-bottom: 5px;
    color: black;
}

.carousel-output-text{
    font-size: 10pt;
    color: black;
}

.output-band-text {
    display: inline-block;
    font-size: 13pt;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.input-text {
    width: 100%;
    padding: 6px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.select-boolean {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.input-textArea {
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.centered{
    display: block;
    margin: 0 auto;
}

.centered-text{
    text-align: center;
}

.inputtextarea-size{
    width: 100px;
}

.editor{
    width: 80%;
    margin: 0 auto;
}

.demotext {
    text-align: center;
}

#band-gallery .ui-galleria{
    width: 100%; !important;
}

#band-gallery .ui-widget{
    width: 100% !important;
}

#band-gallery .ui-widget-content{
    width: 100% !important;
}

#band-gallery .ui-corner-all{
    width: 100% !important;
}

#band-gallery .ui-galleria-caption{
    width: 100% !important;
}

#band-gallery .ui-galleria-panel-wrapper{
    width: 100% !important;
}

#band-gallery .ui-galleria-panel{
    width: 100% !important;
}